*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    scrollbar-width: none;
}

.container{
    flex-direction: column;
}

.container a{
    margin-top: 1.5rem;
}

a button{
    width: 35rem;
}
