*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    scrollbar-width: none;
}

.container{
    flex-direction: column;
}

.container a{
    margin-top: 1.5rem;
}

a button{
    width: 35rem;
}

.gap{
    height: 2rem;
    width: 100%;
}

Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32 33 36);
    color: white;
    height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

Footer i{
    font-size: 1.6rem;
    padding: 0 1rem;
    opacity: 0.7;
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

Footer i:hover{
    opacity: 1;
}
